################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Mictco_Box/bin/Debug/Data/MictcoboxDB.mdf
/Mictco_Box/bin/Debug/Data/MictcoboxDB_log.ldf
